* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#home-ad {
  margin: auto;
  margin-left: -1rem;
  width: 728px;
}

a.smarthome {
  background-color: rgba(0, 157, 190, 0.4);
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-family: sans-serif;
  display: block;
  width: 70%;
  text-align: center;
  margin: 0.2rem auto 1.5rem;
  border-radius: 4px;
}

a.smartpast {
  background-color: rgba(0, 157, 190, 0.4);
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-family: sans-serif;
  display: inline-block;
  text-align: center;
  margin: 0.2rem 1rem 1.5rem;
  border-radius: 4px;
}

a.smartlink:hover {
  background-color: rgba(0, 157, 190, 0.2)
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

main {
  margin-top: 4rem;
}

iframe {
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 4px black;
}

body {
  background-color: rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
}

main#home > #level-drop {
  position: relative;
}

main#home > #level-drop > button i {
  font-size: 1.6rem;
}

main#home > #level-drop > button {
  font-size: 1.1rem;
}

main#home #drop-links a {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  color: lightblue;
  font-family: sans-serif;
  border-radius: 5px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 0.5rem;
}

main#home #drop-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main#home #drop-links {
   width: 70%;
   margin: auto;
   display: none;
}

header {
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Sans-Serif;
  border-width: 15px 1.5px 2px;
  border-style: solid;
  border-color: lightblue;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 5;
}

header h2 {
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 3px lightblue;
}

header i {
  color: whitesmoke;
  font-size: 1.5rem;
}

header #level-drop-1 {
  display: none;
}

header #level-drop-1 > button {
  border: 1.5px solid lightblue;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: lightblue;
  font-size: 1.1rem;
  border-radius: 5px;
}

header #level-drop-1 > button:hover {
  background-color: rgba(255,255,255, 0.1);
}

header #drop-links-1 a {
  background-color: black;
  padding: 0.5rem 2rem;
  margin: 0 auto 0.5rem;
  color: lightblue;
  font-family: sans-serif;
  border-radius: 5px;
  display: block;
  text-align: center;
  border: 1.2px solid lightblue;
}

header #drop-links-1 a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

header #level-drop-1 {
  position: relative;
}

header #drop-links-1 {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 4rem;
  z-index: 6;
   display: none;
}


h3.head {
  color: white;
  display: block;
  margin: 1rem 0 0;
  text-align: center;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

#past p {
  color: whitesmoke;
  margin: 1rem 2rem;
  border: 2px solid lightblue;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

main#home h2 {
  text-align: center;
  color: teal;
  font-family: Sans-Serif;
}

nav {
  position: relative;
  z-index: 10;
}

nav div {
  position: absolute;
  background-color: white;
  right: 0;
  border-radius: 5px;
}


nav div#courses {
  height: 400px;
  overflow: auto;
  z-index: 600;
}


nav div button {
  border-radius: 5px;
  color: black;
  font-weight: bolder;
  padding: 0.2rem 3rem 0;
  border: none;
  display: none;
  font-size: 1.1rem;
}

nav div button i {
  color: lightblue;
  display: inline;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

nav #courses a {
  margin: 0.5rem 0;
  padding: 0.4rem 0.6rem;
  background-color: lightblue;
  border-radius: 3px;
  color: white;
  font-family: Sans-Serif;
  text-shadow: 1px 1px 4px black;
  display: block;
  border: 1.5px solid transparent;
}

nav #courses a:hover {
  background-color: transparent;
  border: 1.5px solid whitesmoke;
}

nav #courses {
  width: 250px;
  margin: 0.5rem 0;
  padding: 1rem;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1.5px solid white;
  z-index: 700;
}

main#past ul {
  margin: 1rem;
  text-align: center;
  list-style: none;
}

main#past ul li {
  color: whitesmoke;
  margin: 1rem 0;
  font-weight: bold;
}

main {
  padding: 0.5rem;
  flex: 1;
}

.ad-box {
  width: 100%;
  max-width: 300px;
}

main#home a i {
  font-size: 1.6rem;
  color: whitesmoke;
}

main #hero {
  height: 40vh;
  width: 95%;
  margin: auto;
}

#hero img {
  object-fit: cover;
  border-radius: 5px;
}

h1 {
  color: lightgreen;
  text-align: center;
  padding: 0.5rem;
  font-family: "Paytone One", sans-serif;
  font-weight: 300;
}

main#home button {
  border: 2px solid lightblue;
  padding: 1rem;
  color: lightblue;
  display: block;
  background-color: transparent;
  font-family: Sans-Serif;
  font-weight: bolder;
  width: 70%;
  margin: 1rem auto;
  text-align: center;
  border-radius: 5px;
}

.contact-us p i {
  font-size: 2.5rem;
  padding:0;
}

main#home button:hover, a.past-icon:hover {
  background-color: rgba(255,255,255, 0.1);
}

main#past > div {
  margin: 1.9rem 0;
}

#failed-browser p {
  background-color: rgba(255,255,255, 0.8);
  color: red;
  position: relative;
  border-left: 5px solid lightgreen;
  border-width: 0 0 0 5px;
  font-weight: normal;
  padding: 0.5rem;
}

#failed-browser i {
  color: lightgreen;
  position: absolute;
  right: -0.7rem;
  top: -1rem;
}

#failed-browser {
  padding: 0;
}

main#past a.lv200 {
  color: lightblue;
  font-size: 1.2rem;
  font-family: "Paytone One", sans-serif;
  font-weight: 300;
  text-decoration: underline;
  margin-left: 2rem;
}

#past #lv-100 h2, #lv-200 h2 {
  text-align: center;
}

#past  #lv-100 h2.exp, #lv-200 h2.exp {
  color: white;
  margin-bottom: 2rem;
}


main#past .course h3 {
  display: inline-block;
  text-align: left;
  color: lightblue;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  font-style: normal;
  font-size: 1.3rem;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  text-shadow: 0.5px 0.5px 10px black;
  margin: 1rem 0.5rem;
}

main#past .course i {
  color: whitesmoke;
  font-weight: bolder;
}


main#past .drop-down-course {
  display: none;
  margin-top: -1rem;
  margin-bottom: 1rem;
}



main#past .drop-link {
  display: none;
}

main#past .drop-main {
  color: whitesmoke;
  border: 1.5px solid lightblue;
  font-family: Sans-Serif;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

main#past h2 {
  margin: 1rem 1rem 0;
  font-family: sans-serif;
  font-weight: 300;
}

main#past .drop-main a {
  display: block;
  color: whitesmoke;
  background-color: rgba(255,255,255, 0.2);
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0.5rem 0 0;
}

main#past i#back {
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem 0;
  background-color: rgba(255,255,255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1.5px solid transparent;
}

main#past i#back:hover {
  background-color: transparent;
  border: 1.5px solid whitesmoke;
}

#pq-link a:hover {
  background-color: black;
  border: 1.5px solid whitesmoke;
  display: block;
}

main#courses .course h3 {
  background-color: white;
  padding: 0.5rem;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}

main#courses .course i {
  color: white;
  font-weight: bolder;
}

main#courses .drop-content-link {
  display: none;
}

#sub-hero div {
  box-shadow: 0px 0px 7px lightblue;
  width: 80%;
  margin: 0 auto 4rem;
  border-radius: 6px;
  padding: 1rem 0;
}

main#courses .course a {
  padding: 0.3rem;
  display: block;
  width: 50%;
  color: white;
  margin: 0.2rem;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0.5px 0.5px 0.5px black;
}

main#home #sub-hero {
  color: white;
}

main#home #sub-hero h2 {
  background: linear-gradient(to bottom, lightblue, whitesmoke, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 80%;
  margin: 1.5rem auto 4rem;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
}

main#home #sub-hero ul {
  font-size: 1.3rem;
  list-style-type: none;
  color: lightblue;
  font-family: sans-serif;
  font-weight: 400;
  margin: 1rem 0;
}

main#home #sub-hero i {
  color: lightgreen;
}

main#home #sub-hero h3 {
  color: black;
  width: 65%;
  margin: 1rem auto 0.4rem;
  padding: 0.5rem 0 0.3rem;
  font-family: sans-serif;
  background-color: lightgreen;
  border-radius: 4px;
  text-align: center;
}

main#home #sub-hero h3 i {
  color: lightgreen;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 100%;

}

main#home #sub-hero p {
  font-size: 1.3rem;
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

main#home #sub-hero ul li {
  padding: 0.5rem;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}


main#courses > div {
  margin: 1rem 0.4rem;
}

main#past p a {
  color: whitesmoke;
}

footer {
  text-align: center;
  font-family: Sans-Serif;
  margin-top: 2rem;
  border-style: solid;
  border-width: 0px 0px 15px;
  border-color: lightblue;
}

footer p {
  color: grey;
  padding: 0 0.6rem;
  margin: 0.3rem;
  border: none;
}

footer div a {
  display: block;
  color: rgba(255,255,255, 0.8);
  font-family: Sans-Serif;
  margin: 0.2rem 0;
  padding: 0.5rem;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a:hover {
  border: 1.5px solid lightblue;
  border-radius: 5px;
}

.sl-ad {
  display: none;
}

/*#desktop-ads {
  display: none;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 130px;
  margin: auto;
  left: 1rem;
  border: none;
  z-index: 500;
  box-shadow: none;
}*/


@media (min-width: 550px) and (max-width: 768px) {
  /* Styles for large phones or small tablets */
  main#home #hero {
     height: 50vh;
     width: 90%;
     margin: auto;
  }

  main#past p {
    width: 60%;
    margin: 1rem auto;
  }

  main#past h3.head {
    text-align: center;
    display: block;
  }

  main#past ul {
    width: 60%;
    margin: auto;
  }
 
}

/* Tablet */
@media (min-width: 768px) {

  main#past p {
    width: 60%;
    margin: 1rem auto;
  }

  main {
    padding-top: 1.8rem;
  }

  main#past h3.head {
    text-align: center;
    display: block;
  }

  main#home #sub-hero ul {
    text-align: center;
  }

  main#home #sub-hero h2 {
    text-align: center;
    width: 70%;
    margin: 1rem auto;
  }

  main#home #sub-hero p {
     width: 50%;
     text-align: center;
  }

  #home-ad {
    margin-left: auto;
  }

  main#home #sub-hero h3 {
    text-align: center;
    margin: 1rem auto 0.4rem;
    display: block;
    width: 50%;
  }

  main#past ul {
    width: 60%;
    margin: auto;
  }

  .cl-ad {
    display: none;
  }

  .sl-ad {
    display: block;
  }

  main#home #hero {
     height: 65vh;
     width: 90%;
     margin: auto;
  }

  main#home #level-drop {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 2fr 6fr 0.5fr;
    justify-content: space-between;
    align-items: center;
  }

  header #level-drop-1 {
    display: block;
    justify-self: flex-end;
    border-radius: 5px;
  }

  main#past .course h3 {
    font-size: 1.5rem;
  }

  header nav i {
    margin-left: 1.2rem;
  }
  
  main#home h1 {
    width: 80%;
    margin: auto;
  }
  
}

/* Laptop */
@media (min-width: 1024px) {

  header nav i {
    margin-left: 2rem;
  }

  main#home #hero {
     height: 70vh;
     width: 80%;
     margin: auto;
  }


  main#home h1 {
    width: 75%;
    margin: auto;
  }

  main#past p {
    width: 40%;
    margin: 1rem auto;
  }

  main#past h3.head {
    text-align: center;
    display: block;
  }

  main#past ul {
    width: 40%;
    margin: auto;
  }
  
}

/* Desktop */
@media (min-width: 1280px) {

  header nav i {
    margin-left: 3rem;
  }

  main#home #hero {
     height: 80vh;
     width: 80%;
     margin: auto;
  }

  main#home h1 {
    width: 70%;
    margin: auto;
  }
   
}